<div class="row">
  <div class="col-xs-12 form">
      <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="row" style="margin-bottom: 15px;">
          <div class="col-xs-12">
            <label for="searchQuery">Search Recipe</label>
            <input 
              type="text" 
              id="searchQuery" 
              name="searchQuery"
              class="form-control"
              required 
              ngModel>
          </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-success" 
                        type="submit">
                        Search</button>
            </div>
          </div>
    </form>
  </div>
</div>