<div class="item-container col-xs-4">
    <div class="container-item">
        <a
            style="cursor: pointer"
            [routerLink]="[index]"
            routerLinkActive="active"
            class="list-group-item clearfix">
            <div>
                    <img 
                    [src]="recipe.image" 
                    alt="{{ recipe.label }}" 
                    class="img-responsive"
                    style="max-height: 250px; width: 100%;">
            </div>
            <div class="info-div">
                <h4 class="list-group-item-heading">{{ recipe.label }}</h4>
                <p class="list-group-item-text">{{ recipe.description }}</p>
            </div>
        </a>
    </div>
</div>